{
    "semi": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "quoteProps": "as-needed",
    "arrowParens": "always",
    "singleQuote": false
}